= render "layouts/header-search"

-# .user-mypage__contents
-#   .user-mypage__contents__left
-#     %ul.user-mypage__contents__left__navi
-#       %li.user-mypage__contents__left__navi__list
-#         %p 支払い方法
-#         .user-mypage__contents__left__navi__list__icon
-#           = icon('fas', 'angle-right', class: 'icon')
-#         %li.user-mypage__contents__left__navi__list
-#           %p ログアウト
-#           .user-mypage__contents__left__navi__list__icon
-#           = icon('fas', 'angle-right', class: 'icon')
-#   .user-mypage__contents__right
-#     .user-mypage__contents__right__user-icon
-#       = image_tag 'member_photo_noimage_thumb.png', class: 'user-logo'
-#       %p フリ太郎
-#     .user-mypage__contents__right__purchased-product
-#       .user-mypage__contents__right__purchased-product__head
-#         %p 購入した商品
-#       %ul.user-mypage__contents__right__purchased-product__tab
-#         %li.user-mypage__contents__right__purchased-product__tab__during-trading
-#           %p 取引中
-#         %li.user-mypage__contents__right__purchased-product__tab__pasttransactions
-#           %p 過去の取引
-#       .user-mypage__contents__right__purchased-product__content
-#         %p 取引中の商品がありません



    -# フッター
= render "layouts/footer-banner"
= render "layouts/footer-links"