-# ヘッダー
= render "layouts/header-search"

-# メイン
.user-logout
  .user-logout__container
    .user-logout__container__btn ログアウト

-# フッター
= render "layouts/footer-banner"
= render "layouts/footer-links"

-# 出品アイコン
= render "layouts/sell-btn"