.item-new
  .item-new__header FURIMA
  .item-new__content
    .item-new__content-picture
      .title 
        %p 出品画像
      %p.note 最大５枚までアップロードできます
      .file-upload-box
    .item-new__content-detail
    .item-new__content-category
    .item-new__content-delivery
    .item-new__content-confirm
