.item-new
  .item-new__header FURIMA
  .item-new__content
    .item-new__content-picture
      .title 
        %p 出品画像
        .necessary-mark 必須
      %p.note 最大５枚までアップロードできます
      .file-upload-box
    .item-new__content-detail
      .title
        %p 商品名
        %p1 必須
      .title
        %p 商品の説明
        .necessary-mark 必須
    .item-new__content-category
      %p 商品の詳細
      .title
        %p カテゴリー
        .necessary-mark 必須
      .title
        %p ブランド 
        %p 任意
      .title
        %p 商品の状態
        .necessary-mark 必須
    .item-new__content-delivery
      %p 配送について
      .title
        %p 配送料の負担
        .necessary-mark 必須
      .title
        %p 発送元の地域
        .necessary-mark 必須
      .title
        %p 発送までの日数
        .necessary-mark 必須
    .item-new__content-confirm
      %p 価格（￥300〜9,999,999）
      .title
        %p 販売価格
        .necessary-mark 必須