* {
  box-sizing: border-box;
}

// @mixinの記述
@mixin img {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

@mixin appbanner {
  display: flex;
  align-items: center;
  :hover {
    opacity: 0.7;
  }
  &__abtn {
    width: 180px;
  }
  &__gbtn {
    width: 220px;
  }
}

@mixin text-shadow {
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

@mixin require {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  background: #3CCACE;
  font-size: 12px;
}

@mixin exp-monthyear {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: calc(100% - 38px);
}

@mixin monthyear {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
}

// ヘッダー
.pcheader {
  padding: 0 60px;

  .header-container {
    width: 100%;
    max-width: 1040px;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .main-header {
      display: flex;
      align-items: center;
      .furima-logo {
        margin-right: 30px;
        padding-bottom: 10px;
        border-radius: 4px;
        a {
          width: 140px;
          display: block;
        }
        @include img;
      }
      .form {
        margin-left: auto;
        width: 100%;
        .search-box {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          &__text {
            width: calc(100% - 26px);
            height: 36px;
            padding-left: 5px;
          }
          &__btn {
            width: 36px;
            padding: 8px;
            background-color: #3CCACE;
            border: 0;
            cursor: pointer;
            @include img;
          }
        }
      }
    }
    .sub-header {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 15px;
      .leftlist {
        display: flex;
        &__conts {
          padding-right: 40px;
          a {
            text-decoration: none;
            color: #333;
          }
        }
      }
      .rightlist {
        display: flex;
        &__conts {
          padding-left: 20px;
          a {
            text-decoration: none;
            color: #333;
          }
        }
      }
    }
  }
}

// メイン 
.card-new {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  &__container {
    margin: 40px auto;
    width: 1020px;

    &__title {
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      background: #fff;
        h2 {
          font-size: 24px;
          padding: 8px 24px;
          font-weight: bold;
        }
    }
    &__info {
        background: #fff;
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        text-align: center;
        &__inner {
          max-width: 343px;
          margin: 0 auto;
          text-align: left;
          &__form {
            margin: 0;
            &__head {

              .card-number {
                font-weight: 600;
                display: inline-block;
                font-size: 14px;
              }
              .require {
                @include require;
              }
              &__number {
                .card-number {
                  vertical-align: top;
                  width: 100%;
                  margin: 8px 0 0;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;

                }
              }
              &__logo {
                margin: 8px 0 0;
                font-size: 0;
                .card-logo {
                  display: inline-block;
                  margin: 0 0 0 8px;
                  vertical-align: middle;
                  width: 30px;
                  height: 20px;
                }
              }
            }
            &__expiration {
              margin: 32px 0 0;
              .expiration-date {
                font-weight: 600;
                display: inline-block;
                font-size: 14px;
              }
              .require {
                @include require;
              }
              &__select-month {
                width: calc(50% - 3px);
                margin: 8px 0 0;
                display: inline-block;
                .exp-month {
                  @include exp-monthyear;
                }
            
                .month {
                  @include monthyear;
                }
              }
              &__select-year {
                width: calc(50% - 3px);
                margin: 8px 0 0;
                display: inline-block;
                .exp-year {
                  @include exp-monthyear;
                }
                .year {
                  @include monthyear;

                }
              }
 
            }
            &__security {
              margin-top: 32px;
              .security-code {
                font-weight: 600;
                display: inline-block;
                font-size: 14px;

              }
              .require {
                @include require;
              }
              &__code
               .security-number {
                width: 100%;
                margin: 8px 0 0;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;

               }
            }
            &__add {
              margin-top: 32px;
              .add-btn {
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                transition: all ease-out .3s;
                cursor: pointer;
                text-align: center;
                text-decoration: none;

              }
            }
         }
       }
    }
  }
}

// フッター
.app-banner {
  background-image: url(bg-appBanner-pict.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 40px 80px 40px;
  &__contents {
    text-align: center;
    &__subtitle {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      @include text-shadow;
    }
    &__text {
      font-size: 35px;
      @include text-shadow;
    }
    &__btn {
      justify-content: center;
      margin: 10px auto 0;
      @include appbanner;
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .footer-contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .footer-content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &__nav {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  .footer-logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    @include img;
  }
  .copyright {
    font-size: 14px;
  }
}

// 出品アイコン
a {
  :hover {
    opacity: 0.9;
  }
  .sell-btn {
    width: 120px;
    background-color: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px 15px 10px 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon {
      width: 60%;
    }
  }
}
