@mixin padding {
  padding-right: 100px;
  padding-left: 100px;
}



.item-confirm {
  width: 100%;
  font-size: 15px;
  background-color: #EEEEEE;

  &__header {
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    background-color: #EEEEEE;
  }
  
  &__content {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 2px;
    background-color: white;

    &-title {
      @include padding;
      height: 80px;
      text-align: center;
      line-height: 80px;
      border-bottom: solid 1px #EEEEEE;

      p {
        font-size: 20px;
        font-weight: bold;
      }
    }

    &-item {
      @include padding;
      height: 120px;
      border-bottom: solid 1px #EEEEEE;
      &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        &__image {
          height: 80px;
          width:  80px;
          min-width: 80px;
          display: flex;
        }
        &__detail {
          width: 100%;
          margin-left: 20px;
          &__price {
            text-align: right;
          }
        }
      }
    }

    &-total {
      @include padding;
      height: 120px;
      border-bottom: solid 1px #EEEEEE;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: bold;
      align-items: center;
      &__title {
        padding-left: 20px;
      }
      &__price {
        padding-right: 20px;
      }
    }

    &-card-info {
      @include padding;
      height: 160px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: solid 1px #EEEEEE;

      .way-of-payment {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        p {
          font-weight: bold;
        }
      }
      .card-information {
        &__data {
          p {
            line-height: 1.4em;
          }
        }
        &__image {
          max-height: 32px;
          max-width: 48px;
        }
      }
    }

    &-delivery-info {
      @include padding;
      height: 160px;
      margin-top: 20px;
      border-bottom: solid 1px #EEEEEE;
      p {
        font-weight: bold;
      }
      .delivery-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }

    &-confirm {
      height: 120px;
      border-bottom: solid 1px #EEEEEE;
      text-align: center;

      .confirm-btn {
        margin-top: 40px;
        line-height: 120px;
        height: 40px;
        width: 300px;
        font-size: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
        line-height: 40px;
        color: white;
        background-color: red;
      }
    }
    .item-confirm__footer {
      height: 200px;
      width: 100%;
      background-color: #EEEEEE;
    }
  }
}
