@mixin padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin margin {
  margin: 0 50px;
}

@mixin hissu {
  background-color: red;
  color: white;
  font-size: 10px;
  height: 15px;
  padding: 0 5px;
}
@mixin ninni {
  background-color: grey;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  height: 20px;
  padding: 0 5px;
}

@mixin btn {
  height: 40px;
  width: 300px;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}



.item-new {
  width: 100%;
  font-size: 15px;
  background-color: #EEEEEE;

  &__header {
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    background-color: #EEEEEE;
    
    .item-new__logo {
      height: 60px;
      width: 200px;
    }
  }

  &__content {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 2px;
    background-color: white;

    .item-new-form {
      width: 500px;
      height: 60px;
    }

    .item-new-form2 {
      width: 500px;
      height: 170px;
    }
    
    .item-category-form {
      width: 500px;
      height: 60px;
    }
    .item-category-form2 {
      &__select {
        width: 500px;
        height: 60px;
        margin-top: 15px;
      }
    }
    .item-category-form3 {
      &__select {
        width: 500px;
        height: 60px;
        margin-top: 15px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 20px;
      margin: 20px 0;

      p {
        margin-right: 20px;
      }
    }
      .necessary-mark {
        @include hissu
      }

      .not__necessary-mark {
        @include ninni
      }

    &-picture {
      @include padding;
      @include margin;
      
      // サーバーサイド実装でheigth250→調整
      height: 260px;
      margin-bottom: 2px;
      border-bottom: solid 1px grey;

      .file-upload-box {
        // サーバーサイド実装でheigth130→調整
        height: 150px;
        width: 500px;
        border: solid 1px #DDDDDD;
        display: flex;
        justify-content: left;
      }     
    }

    &-detail {
      @include padding;
      @include margin;
      height: 400px;
      margin-bottom: 2px;
      border-bottom: solid 1px grey;

      .detail__text-form2 {
        height: 180px;
        width: 500px;
      }
    }

    &-category {
      @include padding;
      @include margin;
      height: auto;
      margin-bottom: 2px;
      border-bottom: solid 1px grey;
    }

    &-delivery {
      @include padding;
      @include margin;
      height: 420px;
      margin-bottom: 2px;
      border-bottom: solid 1px grey;

    }

    &-confirm {
      @include padding;
      @include margin;
      height: 570px;
      margin-bottom: 2px;

      .form {
        height: 60px;
        width: 250px;
      }

      .item-new__content-confirm__box1 {
        display: flex;
        justify-content: space-between;
      
        .confirm__text-form {
          display: flex;

          .item-new-form3 {
            width: 250px;
            height: 60px;
            text-align: right;
          }
        }
      }

      .btn {
        text-align: center;
      
        .item-new__confirm-btn {
          @include btn;
          color: white;
          background-color: red;
          margin-top: 50px;
        }

        .item-new__save-btn {
          @include btn;
          background-color: #EEEEEE;
        }
        .back-btn {
          display: block;
          text-decoration: none;
          color: lightskyblue;
        }

      }
      p.caution {
        font-size: 5px;
        margin-top: 30px;
      }
    }
  }

  .item-new__footer {
    height: 200px;
    width: 100%;
    background-color: #EEEEEE;
  }
}
.js-remove{
  cursor: auto
}
