@mixin require {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  margin: 0 0 0 8px;
  padding: 2px 4px;
}

.account__main__content {
  text-align: center;
  padding: 40px 0;

  .form-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .title2 {
    margin: 10px 0;
  }

  .text {
    font-size: 10px;
  }

}

.require {
  @include require
}

