* {
  box-sizing: border-box;
}

// @mixinの記述
@mixin img {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

@mixin appbanner {
  display: flex;
  align-items: center;
  :hover {
    opacity: 0.7;
  }
  &__abtn {
    width: 180px;
  }
  &__gbtn {
    width: 220px;
  }
}

@mixin text-shadow {
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

// ヘッダー
.pcheader {
  padding: 0 60px;

  .header-container {
    width: 100%;
    max-width: 1040px;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .main-header {
      display: flex;
      align-items: center;
      .furima-logo {
        margin-right: 30px;
        padding-bottom: 10px;
        border-radius: 4px;
        a {
          width: 140px;
          display: block;
        }
        @include img;
      }
      .form {
        margin-left: auto;
        width: 100%;
        .search-box {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          &__text {
            width: calc(100% - 26px);
            height: 36px;
            padding-left: 5px;
          }
          &__btn {
            width: 36px;
            padding: 8px;
            background-color: #3CCACE;
            border: 0;
            cursor: pointer;
            @include img;
          }
        }
      }
    }
    .sub-header {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 15px;
      .leftlist {
        display: flex;
        &__conts {
          padding-right: 40px;
          a {
            text-decoration: none;
            color: #333;
          }
        }
      }
      .rightlist {
        display: flex;
        &__conts {
          padding-left: 20px;
          a {
            text-decoration: none;
            color: #333;
          }
        }
      }
    }
  }
}

// メイン
.main {
  padding-top: 10px;
  background-color: #f8f8f8;
  &__contents {
    display: flex;
    width: 1020px;
    margin: 40px auto 0;
    padding: 0 0 40px;
    &__left {
      width: 280px;
      margin: 0 40px 0 0;
      &__navi {
        background-color: white;
        &__list {
          display: block;
          position: relative;
          min-height: 48px;
          padding: 16px;
          font-size: 14px;
          color: #333;
          border-top: solid 1px #eeeeee;
          text-decoration: none;
          &__icon {
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            transform: translate(0, -50%);
            transition: all ease-out .2s;
          }
        }
      }
    }
    &__right {
      width: 700px;
      &__user-icon {
        background-color: gray;
        height: 108px;
        border: solid 1px #eeeeee;
        text-align: center;
        .user-logo {
          width: 60px;
          height: 60px;
          border: 0;
          padding: 8px;
        }
      }

      &__purchased-product {
        background-color: white;
        height: 400px;
        margin: 40px 0 0;
        &__head {
          padding: 0 16px;
          background-color: #eeeeee;
          font-size: 16px;
          line-height: 72px;
          font-weight: bold;
        }
        &__tab {
          height: 74px;
          line-height: 74px;
          display: flex;
          text-align: center;
          font-weight: bold;
          &__during-trading {
            width: 50%;
            font-size: 16px;
            border-top: solid 1px #3CCACE;
          }
          &__pasttransactions {
            background-color: #dddddd;
            width: 50%;
            font-size: 16px;
          }
        }
        &__content {
          padding: 114px 0px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
    }
  }
}

// フッター
.app-banner {
  background-image: url(bg-appBanner-pict.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 40px 80px 40px;
  &__contents {
    text-align: center;
    &__subtitle {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      @include text-shadow;
    }
    &__text {
      font-size: 35px;
      @include text-shadow;
    }
    &__btn {
      justify-content: center;
      margin: 10px auto 0;
      @include appbanner;
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .footer-contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .footer-content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &__nav {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  .footer-logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    @include img;
  }
  .copyright {
    font-size: 14px;
  }
}

// 出品アイコン
a {
  :hover {
    opacity: 0.9;
  }
  .sell-btn {
    width: 120px;
    background-color: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px 15px 10px 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon {
      width: 60%;
    }
  }
}
